*.env
__pycache__/
.vscode/
.idea/
.DS_Store
src/idea2solid/__pycache__/__init__.cpython-313.pyc
outputs/idea2solid_1d6afa1be28d4df68103481c34487524.stl
src/idea2solid/__pycache__/__init__.cpython-313.pyc
outputs/
MAT496 Submission.mp4
